<nb-card size="large">
  <nb-card-header>
    <h3>Production vs Consumption</h3>
    <div class="subtitle">All owned animals</div>
  </nb-card-header>
  <nb-card-body>
    <div class="chart-container">
      <div class="chart-header">
        <ngx-legend-chart [legendItems]="chartLegend"></ngx-legend-chart>
      </div>
      <ngx-production-consumption-analytics-chart [chartData]="visitorsAnalyticsData"></ngx-production-consumption-analytics-chart>
    </div>
  </nb-card-body>
</nb-card>
