<nb-layout>
    <nb-layout-column>
        <nb-card [nbSpinner]="loading">
            <nb-card-body class="card-form">
                <form [formGroup]="form" card container=".card-container" card-width="500" [messages]="messages"
                    [placeholders]="placeholders" [masks]="masks" formatting="false" debug="true">
                    <label>Card number</label>
                    <input formControlName="cardNumber" nbInput fullWidth fieldSize="medium"
                        placeholder="XXXX XXXX XXXX XXXX" type="text" name="number" card-number />
                    <label>Name</label>
                    <input formControlName="name" nbInput fullWidth fieldSize="medium" placeholder="BAJRAM ALI"
                        type="text" name="first-name" card-name />
                    <label>Surname</label>
                    <input formControlName="surname" nbInput fullWidth fieldSize="medium" placeholder="BASHGUL"
                        type="text" name="last-name" card-name />
                    <label>Expiry date</label>
                    <input formControlName="expiryDate" nbInput fullWidth fieldSize="medium" placeholder="11 / 2019"
                        type="text" name="expiry" card-expiry />
                    <label>CVC</label>
                    <input formControlName="cvc" nbInput fullWidth fieldSize="medium" placeholder="CVC" type="text"
                        name="cvc" card-cvc />
                </form>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
    <nb-layout-column style="margin-top: 55px;">
        <div [nbSpinner]="loading" class="card-container"></div>
        <ng-template #chargeDialog let-data>
            <nb-card>
                <nb-card-header>Are you sure to charge?</nb-card-header>
                <nb-card-body>You will charge your account for <span style="color: green; font-weight: 600">+{{ data }}
                        €</span>. Please confirm the transaction</nb-card-body>
                <nb-card-footer>
                    <div style="display: flex; justify-content: flex-end">
                        <button style="margin-right: 10px;" nbButton status="danger" size="small"
                            (click)="ref.close()">Cancel</button>
                        <button nbButton status="success" size="small" (click)="charge()">Charge</button>
                    </div>
                </nb-card-footer>
            </nb-card>
        </ng-template>
        <div [nbSpinner]="loading" style="padding-top: 80px; padding-left: 20px; padding-right: 20px">
            <label>Amount</label>
            <div class="charge-amount">
                <div>
                    <input (change)="onAmountChange($event)" numbersOnly style="padding-left: 20px;" nbInput
                        fieldSize="medium" width="350" placeholder="300" type="number" name="number" /> <span> €</span>
                </div>
                <button (click)="charge()" nbButton status="success"
                    style="padding-right: 20px">CHARGE</button>
                <!-- <button (click)="open(chargeDialog)" nbButton status="success"
                    style="padding-right: 20px">CHARGE</button> -->
            </div>
        </div>
    </nb-layout-column>
</nb-layout>