<nb-card size="giant">

  <nb-card-header>
    RealTime Farm Live Stream
  </nb-card-header>

  <div class="grid-container">
    <div class="single-view">
      <video width="1100" id="camera1Video" #camera1Video controls autoplay loop>
        <source src="{{ selectedCamera.source }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>

  <nb-card-footer>
    <nb-actions [size]="actionSize" fullWidth>
      <nb-action *ngIf="isPlaying" style="cursor: pointer;" (click)="pauseVideo()">
        <nb-icon icon="pause-circle-outline" pack="eva"></nb-icon>
        Pause
      </nb-action>
      <nb-action *ngIf="!isPlaying" style="cursor: pointer;" (click)="playVideo()">
        <nb-icon icon="play-circle-outline" pack="eva"></nb-icon>
        Logs
      </nb-action>
      <nb-action>
        <nb-icon icon="search-outline" pack="eva"></nb-icon>
        Search
      </nb-action>
      <nb-action>
        <nb-icon icon="settings-2-outline" pack="eva"></nb-icon>
        Setup
      </nb-action>
    </nb-actions>
  </nb-card-footer>
</nb-card>
