img {
  width: 200px;
}

.row {
  padding: 20px;
}

.animal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4vh 7vh;
  user-select: none;

  & img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-select: none;
  }
}

.space-between-key-value {
  display: flex;
  justify-content: space-between;
}
.space-between-key-value p:nth-child(even) {
  font-weight: 700;
}