<div class="row">
    <div class="col-xxxl-6 col-md-6 col-xs-6 col-xxs-12" *ngFor="let animal of animals;">
        <nb-flip-card>
            <nb-card-front>
                <nb-card>
                    <nb-card-header>
                        <div style="display: flex; justify-content: space-between; align-items: center">
                            {{animal.animal_name}}
                            <ng-container *ngIf="animal.badge">
                                <nb-badge text="MOST PROFITABLE" status="success" position="top left"></nb-badge>
                            </ng-container>
                            <ng-container *ngIf="animal.animal_price > 20000">
                                <nb-badge text="LUXURY" status="info" position="top left"></nb-badge>
                            </ng-container>
                            <ng-template #dialog let-data let-ref="dialogRef">
                                <nb-card>
                                    <nb-card-header>Are you sure to purchase <strong>{{animal.animal_name}}</strong>?
                                    </nb-card-header>
                                    <nb-card-body>It will cost <span style="color: #db2c66">-{{animal.animal_price}}
                                            €</span> to your current {{data}}E. Please confirm the transaction
                                    </nb-card-body>
                                    <nb-card-footer>
                                        <div style="display: flex; justify-content: flex-end">
                                            <button style="margin-right: 10px;" nbButton status="danger" size="small"
                                                (click)="ref.close()">Cancel</button>
                                            <button nbButton status="success" size="small"
                                                (click)="purchase(animal)">Purchase</button>
                                        </div>
                                    </nb-card-footer>
                                </nb-card>
                            </ng-template>
                            <button *ngIf="animal.animal_price < (currentBalance$ | async)" nbButton
                                (click)="open(dialog)" status="success">PURCHASE</button>
                            <button *ngIf="animal.animal_price >= (currentBalance$ | async)"
                                nbTooltip="You don't have enough money" nbTooltipPlacement="top"
                                nbTooltipStatus="warning" routerLink="/pages/money-charge" status="warning"
                                nbButton>LOAD MONEY</button>
                        </div>
                    </nb-card-header>
                    <div class="row animal-content">
                        <div class="col-md-6">
                            <div class="img-wrapper">
                                <img src={{animal.category_logoUrl}} />
                            </div>
                        </div>
                        <div class="col-md-6 animal-details">
                            <div class="space-between-key-value">
                                <p>Origin:</p>
                                <p>{{animal.animal_origin}}</p>
                            </div>
                            <div class="space-between-key-value">
                                <p>Average consumption:</p>
                                <p>{{animal.animal_averageConsumption}}</p>
                            </div>
                            <div class="space-between-key-value">
                                <p>Average production:</p>
                                <p>{{animal.animal_averageProduction}}</p>
                            </div>
                            <div class="space-between-key-value">
                                <p>Average Weight:</p>
                                <p>{{animal.animal_averageWeight}} kg</p>
                            </div>
                            <div class="space-between-key-value">
                                <p>Price:</p>
                                <p>{{animal.animal_price}} €</p>
                            </div>
                        </div>
                    </div>
                </nb-card>
            </nb-card-front>
            <nb-card-back>
                <nb-card>
                    <nb-card-header>Characteristics</nb-card-header>
                    <nb-card-body>
                        <h5>{{animal.animal_content}}</h5>
                    </nb-card-body>
                </nb-card>
            </nb-card-back>
        </nb-flip-card>
    </div>
</div>