<div class="row">
  <div *ngIf="loading" class="sk-folding-cube">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>
  <div class="col-xxxl-4 col-md-4 col-xs-6 col-xxs-12" *ngFor="let category of animalCategories;"
    (click)="selectCategory(category.name)">
    <nb-card>
      <nb-card-header>{{category.id}}. {{category.name}}</nb-card-header>
      <div class="category-wrapper">
        <img src={{category.logoUrl}} width="180">
      </div>
    </nb-card>
  </div>
</div>