<div class="row">
  <div class="col-xxl-8">
    <ngx-production-consumption-analytics></ngx-production-consumption-analytics>
  </div>
  <div class="col-xxl-4">
    <ngx-progress-section></ngx-progress-section>
  </div>
</div>
