
<div class="row">
  <div class="col-xxxl-12 col-xl-12">
    <ngx-rooms></ngx-rooms>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-md-6">
    <ngx-temperature></ngx-temperature>
  </div>

  <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-md-6">
    <ngx-weather></ngx-weather>
  </div>
</div>
