<div *ngIf="selectedCategory" class="row add-margin">
  <div class="col-md-12">
    <button (click)="goBack()" nbButton status="primary">
      <nb-icon icon="arrow-back"></nb-icon>Back
    </button>
  </div>
</div>
<div class="row" *ngIf="!selectedCategory">
  <div class="col-xxxl-12 col-xxl-12 col-md-12">
    <ngx-animal-category-list (categorySelection)="categorySelected($event)"></ngx-animal-category-list>
  </div>
</div>
<div *ngIf="loading" class="sk-folding-cube">
  <div class="sk-cube1 sk-cube"></div>
  <div class="sk-cube2 sk-cube"></div>
  <div class="sk-cube4 sk-cube"></div>
  <div class="sk-cube3 sk-cube"></div>
</div>
<div class="row" *ngIf="selectedCategory && !loading">
  <div class="col-xxxl-12 col-xxl-12 col-md-12">
    <ngx-animal-list [animals]="animals"></ngx-animal-list>
  </div>
</div>