<div class="row">
  <div class="col-xxl-12">
    <ngx-electricity></ngx-electricity>
  </div>
</div>

<div class="row">
  <div class="col-xxl-6">
    <ngx-solar [chartValue]="solarValue"></ngx-solar>
  </div>

  <div class="col-xxl-6">
    <ngx-traffic></ngx-traffic>
  </div>
</div>